*{
    font-family: 'roboto'
}

header{
    background-color: #1f2937;
    padding: 0 100px;
    font-size: 18px;
    font-family: 'roboto';
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-left: 30px;
}

.navlinks a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 30px;
    transition: color 0.2s ease;
}

.navlinks a:hover{
    color: brown;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
