*{
    font-family: 'roboto'
}

header{
    background-color: #1f2937;
    padding: 0 100px;
    font-size: 18px;
    font-family: 'roboto';
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-left: 30px;
}

.navlinks a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 30px;
    transition: color 0.2s ease;
}

.navlinks a:hover{
    color: brown;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 100px;
    
}

.hero h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.hero img{
    height: 250px;
    width: auto;
}
.summary p{
    font-weight: 300;
    font-size: 18px;
    max-width: 500px;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.btn{
    border: none;
    background-color: #3882f6;
    padding: 10px 40px;
    margin: 15px 0;
    color: #f9faf8;
    border-radius: 10px;
    font-weight: bold;
}

.info{
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.item{
    text-align: center;
    width: 150px;
}
.box{
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    background-color: rgb(245, 246, 247);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    /* leaving this here to remind myself of what a bigger shadow looks like
    
     box-shadow: 12px 12px 22px rgba(0,0,0 0.32);*/
}
.item p{
    padding: 0;
    margin-top: 5px;
    color: #1f2937;
}

