*{
    font-family: 'roboto'
}

header{
    background-color: #1f2937;
    padding: 0 100px;
    font-size: 18px;
    font-family: 'roboto';
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-left: 30px;
}

.navlinks a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 30px;
    transition: color 0.2s ease;
}

.navlinks a:hover{
    color: brown;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 100px;
    
}

.hero h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.hero img{
    height: 250px;
    width: auto;
}
.summary p{
    font-weight: 300;
    font-size: 18px;
    max-width: 500px;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.btn{
    border: none;
    background-color: #3882f6;
    padding: 10px 40px;
    margin: 15px 0;
    color: #f9faf8;
    border-radius: 10px;
    font-weight: bold;
}

.info{
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.item{
    text-align: center;
    width: 150px;
}
.box{
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    background-color: rgb(245, 246, 247);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    /* leaving this here to remind myself of what a bigger shadow looks like
    
     box-shadow: 12px 12px 22px rgba(0,0,0 0.32);*/
}
.item p{
    padding: 0;
    margin-top: 5px;
    color: #1f2937;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 60px;
    text-align: center;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    max-width: 900px;
    margin: 0 auto;
}

figcaption {
    margin-top: 20px;
    text-align: right;
    padding-right: 180px;
    font-weight: bold;
}

.call-to-action{
    padding: 40px 150px;
}

.container-call-to-action{
    background-color: #3882f6;
    padding: 24px 32px;
    border-radius: 10px;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 240px;
    padding-left: 50px;
}
    
.action p{
    max-width: 400px;

}

.button{
    background-color: #3882f6;
    padding: 10px;
    color: #f9faf8;
    font-weight: bold;
    border: 2px solid rgb(241, 237, 237);
    border-radius: 10px;
    width: 120px;
}